@model CookieFactory.Models.Email

@{
    ViewData["Title"] = "Delete Email";
}

<h1 class="text-center text-warning pt-3">Delete Email</h1>

<div class="text-light">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attatchment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attatchment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmailId" />
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" /> |
        <a asp-action="Index" class="text-info">Back to List</a>
    </form>
</div>
