@model CookieFactory.Models.Cookie

@{
    ViewData["Title"] = "Delete Cookie";
}

<h1 class="text-center text-warning pt-3">Delete Cookie</h1>

<div class="container text-light">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookieFlavor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookieFlavor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chips)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" /> |
        <a asp-action="Index" class="text-info">Back to List</a>
    </form>
</div>
