@model IEnumerable<CookieFactory.Models.Cookie>

@{
    ViewData["Title"] = "CRUD Cookies";
}

<h1 class="text-center text-warning pt-3">CRUD Cookies</h1>

<p>
    <a asp-action="Create">
        <img src="~/assets/plus.png" height="50px" width="50px" />
    </a>
</p>
<table class="table table-hover table-responsive table-borderless table-dark mt-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookieFlavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chips)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topping)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookieFlavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chips)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a class="pt-3" asp-action="Edit" asp-route-id="@item.Id"><img class="ml-4" src="~/assets/modify.png" width="30px" height="30px" /></a>
                <a class="pt-3" asp-action="Details" asp-route-id="@item.Id"><img class="ml-4" src="~/assets/info.png" width="30px" height="30px" /></a>
                <a class="pt-3" asp-action="Delete" asp-route-id="@item.Id"><img class="ml-4" src="~/assets/delete.png" width="30px" height="30px" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
